:root {
    font-family: 'Inter', sans-serif;
    text-align: center;
    background-color: lightsteelblue;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h1 {
    color: white;
    animation: fadeIn 1s ease-in-out forwards;
}

